<div ng-controller="HomeCtrl">

  <main>

    <div class="bg-off-white">

      <div class="cb__title pb1">
        <h1 class="mt1">About MLB to Portland</h1>
      </div>

      <div class="md-flex wrapper">


        <div class="w-100 text-center">

          <p class="narrow light-weight">Lorem ipsum dolor sit amet, ius minim mazim dicit at, an nec veri intellegat. Ei est mandamus inimicus, sint eligendi ea vis. Eu fierent molestie eos, sumo invenire at his. Ne nominati principes sea, per ex odio aperiri oporteat. Lorem ipsum dolor sit amet, ius minim mazim dicit at, an nec veri intellegat. Ei est mandamus inimicus, sint eligendi ea vis. Eu fierent molestie eos, sumo invenire at his. Ne nominati principes sea, per ex odio aperiri oporteat.</p>

        </div>

      </div>

      <div class="md-flex text-center">

        <div id="about-fa" class="w-md-100 w-0">

          <a href="https://twitter.com/mlbtoportland"><i class="fa fa-twitter m2 fa-3" aria-hidden="true"></i></a>

          <a href="#"><i class="fa fa-facebook m2 fa-3" aria-hidden="true"></i></a>

          <a href="mailto:join@mlbtoportland.com"><i class="fa fa-envelope-o m2 fa-3" aria-hidden="true"></i></a>

        </div>

      </div>

    </div>

  </main>

  </body>

</div>
