<div ng-controller="ArticlesCtrl">
  <div class="wrapper backend">
    <div class="cb__title pb1">
      <h1 class="mt1">Articles</h1>
    </div>

    <div class="grid">
      <div class="md-flex items-center justify-center">
        <div class="flex">
          <a href="#/articles/add" class="btn btn-transparent text-smooth mb4 mt0 pt0">Add Article</a>
        </div>
      </div>

      <div class="md-flex">
        <div class="w-100">
          <input type="search" class="form-input" ng-model="q" placeholder=
          "Find Articles" aria-label="Find Articles" />
        </div>
      </div>

      <div class="articles">
        <div ng-repeat=
        "article in articles.slice().reverse() | limitTo: 5 | filter: q as results">
          <div class="cb cb3 mb2">
            <div class="cb__image"><img ng-src="{{article.image}}" /></div>

            <div class="cb__text narrow-left text-center mr1">
              <h4 class="mb1"><a href=
              "/articles/author/{{author.name}}">{{article.title}}</a></h4>

              <p class="mb1">{{article.author}}</p>

              <p class="mb1"></p><a class="btn btn-default" href=
              "/articles/edit/{{article._id}}">Edit Article</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
