<div ng-controller="HomeCtrl">

  <div ng-repeat="article in articles.slice().reverse() | limitTo: 1">
    <header id="gtco-header" class="gtco-cover" role="banner" ng-style="{'background-image': 'linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('+ article.image + ')'}" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-7 text-left">
            <div class="display-t">
              <div class="display-tc">
                <span class="date-post"><time am-time-ago="article.date"></time></span>
                <h1 class="mb30"><a href="#/{{article.type}}/{{article.category}}/{{article.slug}}">{{article.title}}</a></h1>
                <p><a href="#/{{article.type}}/{{article.category}}/{{article.slug}}" class="text-link">Read More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
  </div>
  <div id="gtco-main">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<ul id="gtco-post-list">
						<li class="full entry"  ng-repeat="article in articles.slice(0, articles.length - 1).reverse() | limitTo: 1">
							<a href="#/{{article.type}}/{{article.category}}/{{article.slug}}">
								<div class="entry-img" ng-style="{'background-image': 'url('+ article.image + ')'}"></div>
								<div class="entry-desc">
									<h3>{{article.title}}</h3>
									<p>{{article.blurb}}</p>
                  <p><a href="#/articles/author/{{article.author}}" class="text-link">{{article.author}}</a></p>
								</div>
							</a>
							<a href="#/{{article.type}}/{{article.category}}/{{article.slug}}" class="post-meta">{{article.category}}  <span class="date-posted"><time am-time-ago="article.date"></time></span></a>
						</li>

            <li class="two-third entry"  ng-repeat="article in articles.slice(0, articles.length - 2).reverse() | limitTo: 1">
							<a href="#/{{article.type}}/{{article.category}}/{{article.slug}}">
								<div class="entry-img" ng-style="{'background-image': 'url('+ article.image + ')'}"></div>
								<div class="entry-desc">
									<h3>{{article.title}}</h3>
									<p>{{article.blurb}}</p>
                  <p><a href="#/articles/author/{{article.author}}" class="text-link">{{article.author}}</a></p>
								</div>
							</a>
							<a href="#/{{article.type}}/{{article.category}}/{{article.slug}}" class="post-meta">{{article.category}}  <span class="date-posted"><time am-time-ago="article.date"></time></span></a>
						</li>

            <li class="one-third entry"  ng-repeat="article in articles.slice(0, articles.length - 3).reverse() | limitTo: 1">
              <a href="#/{{article.type}}/{{article.category}}/{{article.slug}}">
                <div class="entry-img" ng-style="{'background-image': 'url('+ article.image + ')'}"></div>
                <div class="entry-desc">
                  <h3>{{article.title}}</h3>
                  <p>{{article.blurb}}</p>
                  <p><a href="#/articles/author/{{article.author}}" class="text-link">{{article.author}}</a></p>
                </div>
              </a>
              <a href="#/{{article.type}}/{{article.category}}/{{article.slug}}" class="post-meta">{{article.category}}  <span class="date-posted"><time am-time-ago="article.date"></time></span></a>
            </li>

            <li class="one-third entry"  ng-repeat="article in articles.slice(0, articles.length - 4).reverse() | limitTo: 3">
              <a href="#/{{article.type}}/{{article.category}}/{{article.slug}}">
                <div class="entry-img" ng-style="{'background-image': 'url('+ article.image + ')'}"></div>
                <div class="entry-desc">
                  <h3>{{article.title}}</h3>
                  <p>{{article.blurb}}</p>
                  <p><a href="#/articles/author/{{article.author}}" class="text-link">{{article.author}}</a></p>
                </div>
              </a>
              <a href="#/{{article.type}}/{{article.category}}/{{article.slug}}" class="post-meta">{{article.category}}  <span class="date-posted"><time am-time-ago="article.date"></time></span></a>
            </li>

            <li class="one-half entry"  ng-repeat="article in articles.slice(0, articles.length - 7).reverse() | limitTo: 2">
              <a href="#/{{article.type}}/{{article.category}}/{{article.slug}}">
                <div class="entry-img" ng-style="{'background-image': 'url('+ article.image + ')'}"></div>
                <div class="entry-desc">
                  <h3>{{article.title}}</h3>
                  <p>{{article.blurb}}</p>
                  <p><a href="#/articles/author/{{article.author}}" class="text-link">{{article.author}}</a></p>
                </div>
              </a>
              <a href="#/{{article.type}}/{{article.category}}/{{article.slug}}" class="post-meta">{{article.category}}  <span class="date-posted"><time am-time-ago="article.date"></time></span></a>
            </li>


            <li class="one-third entry"  ng-repeat="article in articles.slice(0, articles.length - 9).reverse() | limitTo: 1">
              <a href="#/{{article.type}}/{{article.category}}/{{article.slug}}">
                <div class="entry-img" ng-style="{'background-image': 'url('+ article.image + ')'}"></div>
                <div class="entry-desc">
                  <h3>{{article.title}}</h3>
                  <p>{{article.blurb}}</p>
                  <p><a href="#/articles/author/{{article.author}}" class="text-link">{{article.author}}</a></p>
                </div>
              </a>
              <a href="#/{{article.type}}/{{article.category}}/{{article.slug}}" class="post-meta">{{article.category}}  <span class="date-posted"><time am-time-ago="article.date"></time></span></a>
            </li>

            <li class="two-third entry"  ng-repeat="article in articles.slice(0, articles.length - 10).reverse() | limitTo: 1">
              <a href="#/{{article.type}}/{{article.category}}/{{article.slug}}">
                <div class="entry-img" ng-style="{'background-image': 'url('+ article.image + ')'}"></div>
                <div class="entry-desc">
                  <h3>{{article.title}}</h3>
                  <p>{{article.blurb}}</p>
                </div>
              </a>
              <a href="#/{{article.type}}/{{article.category}}/{{article.slug}}" class="post-meta">{{article.category}}  <span class="date-posted"><time am-time-ago="article.date"></time></span></a>
            </li>

					</ul>
				</div>
			</div>
		</div>
	</div>

</div>
