<div ng-controller="HomeCtrl">

  <main>

    <div class="bg-off-white">

      <div class="cb__title pb1">
        <h1 class="mt1">How Baseball Will Help Portland</h1>
        <p>Keep tabs on the baseball to Portland movement.</p>
      </div>

      <div class="md-flex">

        <div class="w-100">

          <img src="images/homebase.jpg" alt="" />

        </div>

      </div>

    </div>

    <div id="thereasons" class="px3 pb5">

        <div class="cb__title">
          <h2>The Benefits</h2>
        </div>

      <div class="md-flex">

        <div class="w-md-33 w-100 mr2">

          <img src="images/cash.jpg" class="pb2" />

        </div>

        <div class="w-md-66 w-100 mr2">

          <h3 class="text-center my1">Helps Local Economy</h3>

          <p class="narrow light-weight">Lorem ipsum dolor sit amet, ius minim mazim dicit at, an nec veri intellegat. Ei est mandamus inimicus, sint eligendi ea vis. Eu fierent molestie eos, sumo invenire at his. Ne nominati principes sea, per ex odio aperiri oporteat.</p>

        </div>

      </div>

      <div class="md-flex">

        <div class="w-md-33 w-100 mr2">

          <img src="images/planesky.jpg" class="pb2" />

        </div>

        <div class="w-md-66 w-100 mr2">

          <h3 class="text-center my1">Boosts Tourism</h3>

          <p class="narrow light-weight">Lorem ipsum dolor sit amet, ius minim mazim dicit at, an nec veri intellegat. Ei est mandamus inimicus, sint eligendi ea vis. Eu fierent molestie eos, sumo invenire at his. Ne nominati principes sea, per ex odio aperiri oporteat.</p>

        </div>

      </div>

      <div class="md-flex">

        <div class="w-md-33 w-100 mr2">

          <img src="images/baseball-fans.jpg" class="pb2" />

        </div>

        <div class="w-md-66 w-100 mr2">

          <h3 class="text-center my1">More Entertainment Options</h3>

          <p class="narrow light-weight">Lorem ipsum dolor sit amet, ius minim mazim dicit at, an nec veri intellegat. Ei est mandamus inimicus, sint eligendi ea vis. Eu fierent molestie eos, sumo invenire at his. Ne nominati principes sea, per ex odio aperiri oporteat.</p>

        </div>

      </div>

      <div class="md-flex">

        <div class="w-md-33 w-100 mr2">

          <img src="images/workers.jpg" class="pb2" />

        </div>

        <div class="w-md-66 w-100 mr2">

          <h3 class="text-center my1">Creates Jobs</h3>

          <p class="narrow light-weight">Lorem ipsum dolor sit amet, ius minim mazim dicit at, an nec veri intellegat. Ei est mandamus inimicus, sint eligendi ea vis. Eu fierent molestie eos, sumo invenire at his. Ne nominati principes sea, per ex odio aperiri oporteat.</p>

        </div>

      </div>

    </div>

  </main>

  </body>

</div>
