<div ng-controller="HomeCtrl">

  <main>

    <div class="bg-off-white">

      <div class="cb__title pb1">
        <h1 class="mt1">Why Portland Deserves Baseball</h1>
        <p>Keep tabs on the baseball to Portland movement.</p>
      </div>

      <div class="md-flex">

        <div class="w-100">

          <img src="images/baseballgamefan.jpg" alt="" />

        </div>

      </div>

    </div>

    <div id="thereasons" class="px3 pb5">

        <div class="cb__title">
          <h2>The Reasons</h2>
        </div>

      <div class="md-flex">

        <div class="w-md-50 w-100 mr2">

          <img src="images/lillard.jpg" class="pb2" />

          <h3 class="text-center my1">Lack of pro teams</h3>

          <p class="narrow light-weight">Lorem ipsum dolor sit amet, ius minim mazim dicit at, an nec veri intellegat. Ei est mandamus inimicus, sint eligendi ea vis. Eu fierent molestie eos, sumo invenire at his. Ne nominati principes sea, per ex odio aperiri oporteat.</p>

        </div>

        <div class="w-md-50 w-100">

          <img src="images/portland.jpg" class="pb2" />

          <h3 class="text-center my1">Population Growth</h3>

          <p class="narrow light-weight">Lorem ipsum dolor sit amet, ius minim mazim dicit at, an nec veri intellegat. Ei est mandamus inimicus, sint eligendi ea vis. Eu fierent molestie eos, sumo invenire at his. Ne nominati principes sea, per ex odio aperiri oporteat.</p>

        </div>

      </div>


      <div class="md-flex pt2">

        <div class="w-md-33 w-100 mr2">

          <img src="images/timbersfans.jpg" alt="" />

          <h3 class="text-center my1">Loyal Sports Fans</h3>

          <p class="narrow light-weight">Lorem ipsum dolor sit amet, ius minim mazim dicit at, an nec veri intellegat. Ei est mandamus inimicus, sint eligendi ea vis. Eu fierent molestie eos, sumo invenire at his. Ne nominati principes sea, per ex odio aperiri oporteat.</p>

        </div>

        <div class="w-md-33 w-100 mr2">

          <img src="images/baseball.jpg" alt="" />

          <h3 class="text-center my1">Helps Spread Baseball</h3>

          <p class="narrow light-weight">Lorem ipsum dolor sit amet, ius minim mazim dicit at, an nec veri intellegat. Ei est mandamus inimicus, sint eligendi ea vis. Eu fierent molestie eos, sumo invenire at his. Ne nominati principes sea, per ex odio aperiri oporteat.</p>

        </div>

        <div class="w-md-33 w-100">

          <img src="images/mariners.jpg" alt="" />

          <h3 class="text-center my1">Builds Rivalries</h3>

          <p class="narrow light-weight">Lorem ipsum dolor sit amet, ius minim mazim dicit at, an nec veri intellegat. Ei est mandamus inimicus, sint eligendi ea vis. Eu fierent molestie eos, sumo invenire at his. Ne nominati principes sea, per ex odio aperiri oporteat.</p>

        </div>

      </div>

    </div>

    <div id="headtohead" class="bg-off-white">

      <div class="cb__title pb0 pt4">
        <h2>How the Rose City Fares</h2>
        <h5 class="mt0">Portland versus to other comparable sports cities.</h5>
      </div>

      <div class="cb cb3">
        <div class="cb__image">
          <img src="images/streetcar.jpg" alt="">
        </div>
        <div class="cb__text narrow-left text-center">
          <h3 class="bg-red text-white mt0 mb1">Portland</h3>
          <h4 class="my0"><span
              counter value="autoStartVarPDX"
                  to="22">
                {{ autoStartVarPDX | number:0 }}</span>nd ranked</h4>
          <h5 class="text-red mt0 mb1">TV Market</h5>

          <h4 class="my0"><span class="decimal-count fadeIn">2.4</span> Million</h4>
          <h5 class="text-red mt0 mb1">Metro Population</h5>

          <h4 class="my0">Top <span>20</span></h4>
          <h5 class="text-red mt0 mb1">Fastest Growing City</h5>

          <h4 class="my0">Teams:</h4>

          <div class="md-flex">

            <div class="flex items-center justify-center">
              <div class="w-md-50">
                <img src="images/blazers.png" alt="Portland Trail Blazers" />
              </div>
            </div>

            <div class="flex items-center justify-center">
              <div class="w-md-50">
                <img src="images/portland-timbers-logo.png" alt="Portland Timbers" />
              </div>
            </div>

          </div>

        </div>

      </div>

      <div class="cb cb3 mt3">
        <div class="cb__image">
          <img src="images/kansascity.jpg" alt="">
        </div>
        <div class="cb__text narrow-left text-center">
          <h3 class="bg-royal-blue text-white mt0 mb1">Kansas City</h3>
          <h4 class="my0"><span
            counter value="autoStartVarKC"
                to="31">
              {{ autoStartVarKC | number:0 }}</span>st ranked</h4>
          <h5 class="text-red mt0 mb1">TV Market</h5>

          <h4 class="my0"><span class="decimal-count fadeIn">2</span> Million</h4>
          <h5 class="text-red mt0 mb1">Metro Population</h5>

          <h4 class="my0">Teams:</h4>

          <div class="md-flex">

            <div class="flex items-center justify-center">
              <div class="w-md-80">
                <img src="images/kcroyals.png" alt="Kansas City Royals">
              </div>
            </div>

            <div class="flex items-center justify-center">
              <div class="w-md-80">
                <img src="images/kcchiefs.png" alt="Kansas City Chiefs">
              </div>
            </div>

            <div class="flex items-center justify-center">
              <div class="w-md-80">
                <img src="images/sportingkc.png" alt="Sporting Kansas City">
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="cb cb3 mt3">
        <div class="cb__image">
          <img src="images/pittsburgh.jpg" alt="">
        </div>

        <div class="cb__text narrow-left text-center">
          <h3 class="bg-yellow text-white mt0 mb1">Pittsburgh</h3>
          <h4 class="my0"><span
              counter value="autoStartVarPitt"
                  to="23">
                {{ autoStartVarPitt | number:0 }}</span>rd ranked</h4>
          <h5 class="text-red mt0 mb1">TV Market</h5>

          <h4 class="my0"><span class="decimal-count fadeIn">2.35</span> Million</h4>
          <h5 class="text-red mt0 mb1">Metro Population</h5>

          <h4 class="my0">Teams:</h4>

          <div class="md-flex">

            <div class="flex items-center justify-center">
              <div class="w-md-80">
                <img src="images/pittsburghsteelers.png" alt="Pittsburgh Steelers">
              </div>
            </div>

            <div class="flex items-center justify-center">
              <div class="w-md-80">
                <img src="images/pittsburghpirates.png" alt="Pittsburgh Pirates">
              </div>
            </div>

            <div class="flex items-center justify-center">
              <div class="w-md-80">
                <img src="images/pittsburghpenguins.png" alt="Pittsburgh Penguins">
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="cb cb3 mt3">
        <div class="cb__image">
          <img src="images/buffalo.jpg" alt="">
        </div>

        <div class="cb__text narrow-left text-center">
          <h3 class="bg-blue text-white mt0 mb1">Buffalo</h3>
          <h4 class="my0"><span
            counter value="autoStartVarBuff"
                to="51">
              {{ autoStartVarBuff | number:0 }}</span>st ranked</h4>
          <h5 class="text-red mt0 mb1">TV Market</h5>

          <h4 class="my0"><span class="decimal-count fadeIn">1.35</span> Million</h4>
          <h5 class="text-red mt0 mb1">Metro Population</h5>

          <h4 class="my0">Teams:</h4>

          <div class="md-flex">

            <div class="flex items-center justify-center">
              <div class="w-md-50">
                <img src="images/buffalobills.png" alt="Buffalo Bills">
              </div>
            </div>

            <div class="flex items-center justify-center">
              <div class="w-md-50">
                <img src="images/buffalosabres.png" alt="Buffalo Sabres">
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="cb__title pb0">
        <h3 class="my0">Bigger Market, Larger Population and Fewer Teams</h3>
        <h5 class="mt0">Is that really fair?</h5>
      </div>

    </div>

  </main>

  </body>

</div>
